body {
    font-family: 'Vollkorn', serif;
    text-align: center;
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    font-weight: 400;
}

h2 {
    font-weight: 400;
}

h1 > a {
    text-decoration: none;
}

a {
    color: inherit;
}

#footer {
    margin-top: 40px;
}

p {
    text-align: left;
}